[run]
  deadline = "2m"
  skip-files = []

[linters-settings]

  [linters-settings.govet]
    check-shadowing = true

  [linters-settings.gocyclo]
    min-complexity = 12.0

  [linters-settings.maligned]
    suggest-new = true

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

  [linters-settings.funlen]
    lines = 60 # default 60
    statements = 40 # default 40

[linters]
  enable-all = true
  disable = [
    "maligned",
    "lll",
    "dupl",
    "wsl",
    "gomnd",
    "testpackage",
    "goerr113",
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = [
    "ST1000: at least one file in a package should have a package comment"
  ]
  [[issues.exclude-rules]]
    path = "version.go"
    text = "`(version|date|commit)` is a global variable"

  [[issues.exclude-rules]]
    path = ".*_test.go"
    linters = ["funlen","unused"]

  [[issues.exclude-rules]]
    path = "pkg/handlers/module.go"
    text = "Function 'Download' is too long (.*)"
  [[issues.exclude-rules]]
    path = "pkg/handlers/module.go"
    text = "Function 'Download' has too many statements (.*)"
  [[issues.exclude-rules]]
    path = "pkg/handlers/module.go"
    text = "cyclomatic complexity (\\d+) of func `\\(Handlers\\)\\.Download` is high \\(> 12\\)"
